@import 'global.module';

.container {
  padding: 4em 0;
  text-align: center;
}

.logo {
  margin: 0 auto;
  text-align: center;
  width: 50%;

  @include from(4) {
    width: 200px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.social {
  list-style-type: none;
  margin: 2em auto;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0;

    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }

  a, a:link {
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.intro {
  margin-top: 2em;
}

input, input[type="submit"] {
  padding: 0.5em 1em;
}

input {
  border: 1px solid black;
  padding: 0.5em 1em;
}

input[type="submit"] {
  background: black;
  color: white;
  border: 1px solid black;
  border-left: 0;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}
