@import '../../css/variables';

.component {
  display: block;
}

.fullWidth {
  > input,
  > textarea {
    width: 100%;
  }
}

.hiddenLabel {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.label {
  display: block;
  margin-bottom: 0.5em;
  text-align: center;

  @include from(3) {
    text-align: left;
  }
}

.input {
  padding: 0.5em 0.75em;
  border: 1px solid rgba($black, 0.25);

  &:-ms-input-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    font-size: 1px;
  }

  &:focus {
    outline: 0;
    border: 1px solid rgba($black, 0.5);
  }
}

.withButton {
  @include from(2) {
    border-right: 0;

    &:focus {
      border-right: 0;
    }
  }
}
