@import '../../css/variables';

.intro {
  margin-bottom: 3em;

  @include from(4) {
    display: flex;
    justify-content: space-between;
  }
}

.text {
  @include from(2) {
    flex: 2;
    margin-right: 2em;
    font-size: 20px;
  }
}

.form {
  flex: 1;
}

.header {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 1em;

  @include from(2) {
    font-size: 20px;
  }
}
