@import '../../css/variables';

.component {
  display: block;
  text-decoration: none;
}

.image {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  overflow: hidden;

  &:hover {
    > .hover {
      opacity: 1;
      transform: translateY(-200px);
      transition: all 0.5s ease-in;
    }
  }
}

.hover {
  display: inline-block;
  position: absolute;
  height: 150px;
  top: 300px;
  left: 0;
  right: 0;
  background: rgba($pink, 0.75);
  color: $black;
  padding: 2em;
  opacity: 0;
  transition: 0.5s ease-in;

  strong, .desc {
    display: inline-block;
    height: 0;
  }
}

.desc {
  font-weight: 100;
  margin-top: 0.5em;
}
