@import '../../css/variables';

.component {
  display: block;
  margin-bottom: 2em;

  @include from(3) {
    display: flex;
    align-items: center;
  }
}

.image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;

  @include from(3) {
    height: 125px;
    width: 125px;
  }
}

.text {
  display: block;
  text-align: center;
  padding: 2em 0;

  @include from(3) {
    text-align: left;
    margin-left: 3em;
    padding: 0;
  }
}

.name {
  display: block;
  text-align: center;
  font-size: 24px;

  @include from(3) {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin-right: 0.5em;
  }
}

.bio {
  font-weight: 200;
  font-size: 20px;
  margin-top: 1em;

  @include from(3) {
    font-size: 18px;
  }
}

.links {
  > li {
    display: inline-block;
    font-size: 20px;
    margin-right: 1em;
    padding: 0.5em 0;

    &:last-of-type {
      margin-right: 0;
    }

    @include from(2) {
      padding: 0;
    }

    @include from(4) {
      font-size: 16px;
    }
  }
}
