@import '../../css/variables';

.container {
  display: flex;
  justify-content: space-between;

  > div {
    flex: 1;
  }
}

.content {
  flex: 1;
}

.issue {
  display: inline-block;
  background: $pink;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
}

.text {
  margin-left: 1em;
}

.title {
  margin: 0;
}

.video, .audio {
  margin-bottom: 1.65rem;
}

.audio {
  width: 100%;
}
