@import '../../css/variables';

.title {
  height: 30px;
  border-bottom: $pink-border-width solid $pink;
  text-align: center;
}

.navigationContainer {
  max-width: 600px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  padding: 3em 0;
}

.link {
  position: relative;
  font-weight: bold;
  color: $black;

  &:hover {
    border-bottom: 2px solid $blue;
  }
}
